.icon-about-giao-hang-lg {
    background: url(../images/spritesheet.png) -4px -34px;
    width: 61px;
    height: 61px;
    display: inline-block;
}

.icon-about-van-chuyen {
    background: url(../images/spritesheet.png) -69px -58px;
    width: 37px;
    height: 37px;
    display: inline-block;
}

.icon-about-van-chuyen-lg {
    background: url(../images/spritesheet.png) -110px -29px;
    width: 66px;
    height: 66px;
    display: inline-block;
}

.icon-about-why-1 {
    background: url(../images/spritesheet.png) -180px -59px;
    width: 46px;
    height: 36px;
    display: inline-block;
}

.icon-about-why-2 {
    background: url(../images/spritesheet.png) -230px -41px;
    width: 34px;
    height: 54px;
    display: inline-block;
}

.icon-about-why-3 {
    background: url(../images/spritesheet.png) -268px -48px;
    width: 47px;
    height: 47px;
    display: inline-block;
}

.icon-about-why-4 {
    background: url(../images/spritesheet.png) -319px -48px;
    width: 43px;
    height: 47px;
    display: inline-block;
}

.icon-bao-gia {
    background: url(../images/spritesheet.png) -366px -73px;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.icon-big-blue-phone {
    background: url(../images/spritesheet.png) -392px -2px;
    width: 125px;
    height: 93px;
    display: inline-block;
}

.icon-big-green-phone {
    background: url(../images/spritesheet.png) -521px -49px;
    width: 46px;
    height: 46px;
    display: inline-block;
}

.icon-calendar {
    background: url(../images/spritesheet.png) -571px -78px;
    width: 17px;
    height: 17px;
    display: inline-block;
}

.icon-calendar-white {
    background: url(../images/spritesheet.png) -592px -78px;
    width: 17px;
    height: 17px;
    display: inline-block;
}

.icon-cong-thuong {
    background: url(../images/spritesheet.png) -613px -57px;
    width: 104px;
    height: 38px;
    display: inline-block;
}

.icon-curved-arrow-blue {
    background: url(../images/spritesheet.png) -721px -54px;
    width: 28px;
    height: 41px;
    display: inline-block;
}

.icon-chevron-down {
    background: url(../images/spritesheet.png) -753px -89px;
    width: 11px;
    height: 6px;
    display: inline-block;
}

.icon-chevron-down-white {
    background: url(../images/spritesheet.png) -768px -89px;
    width: 11px;
    height: 6px;
    display: inline-block;
}

.icon-chevron-up-green {
    background: url(../images/spritesheet.png) -783px -78px;
    width: 32px;
    height: 17px;
    display: inline-block;
}

.icon-direct-chat {
    background: url(../images/spritesheet.png) -819px -45px;
    width: 55px;
    height: 50px;
    display: inline-block;
}

.icon-facebook {
    background: url(../images/spritesheet.png) -878px -64px;
    width: 31px;
    height: 31px;
    display: inline-block;
}

.icon-fa-headset-green {
    background: url(../images/spritesheet.png) -913px -77px;
    width: 19px;
    height: 18px;
    display: inline-block;
}

.icon-fa-user-astronaut-green {
    background: url(../images/spritesheet.png) -936px -77px;
    width: 16px;
    height: 18px;
    display: inline-block;
}

.icon-home-why-1 {
    background: url(../images/spritesheet.png) -956px -16px;
    width: 74px;
    height: 79px;
    display: inline-block;
}

.icon-home-why-2 {
    background: url(../images/spritesheet.png) -1034px -0px;
    width: 70px;
    height: 95px;
    display: inline-block;
}

.icon-home-why-3 {
    background: url(../images/spritesheet.png) -1108px -1px;
    width: 88px;
    height: 94px;
    display: inline-block;
}

.icon-home-why-4 {
    background: url(../images/spritesheet.png) -1200px -18px;
    width: 71px;
    height: 77px;
    display: inline-block;
}

.icon-messenger {
    background: url(../images/spritesheet.png) -1275px -49px;
    width: 46px;
    height: 46px;
    display: inline-block;
}

.icon-mobile-call {
    background: url(../images/spritesheet.png) -1325px -48px;
    width: 47px;
    height: 47px;
    display: inline-block;
}

.icon-phu-kien-cong-trinh {
    background: url(../images/spritesheet.png) -1376px -65px;
    width: 25px;
    height: 30px;
    display: inline-block;
}

.icon-phu-kien-cong-trinh-lg {
    background: url(../images/spritesheet.png) -1405px -67px;
    width: 24px;
    height: 28px;
    display: inline-block;
}

.icon-quote {
    background: url(../images/spritesheet.png) -1433px -68px;
    width: 32px;
    height: 27px;
    display: inline-block;
}

.icon-user {
    background: url(../images/spritesheet.png) -1469px -71px;
    width: 22px;
    height: 24px;
    display: inline-block;
}

.icon-user-01 {
    background: url(../images/spritesheet.png) -1495px -71px;
    width: 22px;
    height: 24px;
    display: inline-block;
}

.icon-user-grey {
    background: url(../images/spritesheet.png) -1521px -81px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-user-white {
    background: url(../images/spritesheet.png) -1539px -81px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-vat-lieu-hoan-thien {
    background: url(../images/spritesheet.png) -1557px -74px;
    width: 29px;
    height: 21px;
    display: inline-block;
}

.icon-vat-lieu-hoan-thien-lg {
    background: url(../images/spritesheet.png) -1590px -72px;
    width: 31px;
    height: 23px;
    display: inline-block;
}

.icon-vat-lieu-tho {
    background: url(../images/spritesheet.png) -1625px -73px;
    width: 23px;
    height: 22px;
    display: inline-block;
}

.icon-vat-lieu-tho-lg {
    background: url(../images/spritesheet.png) -1652px -63px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.icon-youtube {
    background: url(../images/spritesheet.png) -1688px -63px;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.icon-zalo {
    background: url(../images/spritesheet.png) -1724px -43px;
    width: 52px;
    height: 52px;
    display: inline-block;
}

.icon-zalo-2 {
    background: url(../images/spritesheet.png) -1780px -64px;
    width: 31px;
    height: 31px;
    display: inline-block;
}

.icon-checked {
    background: url(../images/spritesheet.png) -1999px -76px;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
}


.bg-email {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites.png') -130px -58px;
    display: inline-block;
}

.bg-Eye {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites.png') -10px -131px;
    display: inline-block;
}

.bg-icon_notifications {
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites.png') -78px -62px;
    display: inline-block;
}

.bg-message {
    width: 42px;
    height: 42px;
    background: url('../images/css_sprites.png') -10px -69px;
    display: inline-block;
}

.bg-password {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites.png') -50px -131px;
    display: inline-block;
}

.bg-quote {
    width: 48px;
    height: 39px;
    background: url('../images/css_sprites.png') -10px -10px;
    display: inline-block;
}

.bg-search {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites.png') -78px -10px;
    display: inline-block;
}

.bg-profile_circle {
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites.png') -130px -10px;
    display: inline-block;
}



// sprite icons jobs
.bg-icons {
    display: inline-block;
}

.bg-date {
    width: 30px;
    height: 30px;
    background: url('../images/css_sprites_jobs.png') -220px -114px;
}

.bg-DeviceMobile {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -10px -62px;
}

.bg-EnvelopeSimple {
    width: 20px;
    height: 21px;
    background: url('../images/css_sprites_jobs.png') -106px -218px;
}

.bg-exit {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_jobs.png') -272px -50px;
}

.bg-Eye {
    width: 33px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -10px -10px;
}

.bg-FirstAidKit {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -62px -62px;
}

.bg-ghim {
    width: 15px;
    height: 18px;
    background: url('../images/css_sprites_jobs.png') -127px -266px;
}

.bg-Gift {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -116px -10px;
}

.bg-GraduationCap {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -116px -62px;
}

.bg-job {
    width: 20px;
    height: 18px;
    background: url('../images/css_sprites_jobs.png') -49px -266px;
}

.bg-language {
    width: 30px;
    height: 30px;
    background: url('../images/css_sprites_jobs.png') -220px -164px;
}

.bg-level {
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites_jobs.png') -10px -218px;
}

.bg-Medal {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -10px -114px;
}

.bg-myprofile {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_jobs.png') -272px -90px;
}

.bg-notification {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_jobs.png') -272px -130px;
}

.bg-Pencil {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -62px -114px;
}

.bg-PencilSimple {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -114px -114px;
}

.bg-Phone {
    width: 20px;
    height: 21px;
    background: url('../images/css_sprites_jobs.png') -146px -218px;
}

.bg-setting {
    width: 19px;
    height: 19px;
    background: url('../images/css_sprites_jobs.png') -10px -266px;
}

.bg-skill {
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites_jobs.png') -58px -218px;
}

.bg-ThumbsUp {
    width: 20px;
    height: 21px;
    background: url('../images/css_sprites_jobs.png') -186px -218px;
}

.bg-Trash {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -168px -10px;
}

.bg-updateprofile {
    width: 18px;
    height: 18px;
    background: url('../images/css_sprites_jobs.png') -89px -266px;
}

.bg-UploadSimple {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -168px -62px;
}

.bg-UserRectangle {
    width: 20px;
    height: 21px;
    background: url('../images/css_sprites_jobs.png') -226px -218px;
}

.bg-UsersThree {
    width: 21px;
    height: 20px;
    background: url('../images/css_sprites_jobs.png') -272px -10px;
}

.bg-AirplaneTilt {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -168px -114px;
}

.bg-Bed {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -10px -166px;
}

.bg-Book {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -62px -166px;
}

.bg-CalendarBlank {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -114px -166px;
}

.bg-CarSimple {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -166px -166px;
}

.bg-ChalkboardSimple {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -220px -10px;
}

.bg-company {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_jobs.png') -272px -170px;
}

.bg-creatCV {
    width: 33px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -63px -10px;
}

.bg-CurrencyCircleDollar {
    width: 32px;
    height: 32px;
    background: url('../images/css_sprites_jobs.png') -220px -62px;
}

.bg-dashboard {
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_jobs.png') -272px -210px;
}