<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="slides">
        <div class="images" id="slide-image">
            <img src="image/logo-1.jpg" alt="">
            <img src="image/logo-2.jpg" alt="">
            <img src="image/logo-3.jpg" alt="">
            <img src="image/logo-4.jpg" alt="">
            <img src="image/logo-5.jpg" alt="">
        </div>
    </div>
    <script>
        // var slideCopy = document.querySelector(".images").cloneNode(true);
        // document.querySelector(".slides").appendChild(slideCopy);
        // window.addEventListener("load", (event) => {
        //     var slideImage = document.querySelector("#slide-image");
        //     let i = 0;
        //     while(i < 1000000) {
        //         if (i % 33 == 32 ) {
        //             console.log(i);
        //             let stringTransform = 'translate3d(-' + i/100 + 'px, 0, 0)';
        //             console.log(stringTransform);
        //             slideImage.style.transform = stringTransform;
        //         }
        //         if ( i > 99998) {
        //             i = 0;
        //         }
        //         i++;
        //     }
        // });
    </script>
</body>
</html>