<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="slides" id="slide-image">
        <div class="images">
            <img src="image/logo-1.jpg" alt="">
            <img src="image/logo-2.jpg" alt="">
            <img src="image/logo-3.jpg" alt="">
            <img src="image/logo-4.jpg" alt="">
            <img src="image/logo-5.jpg" alt="">
            <img src="image/logo-6.jpg" alt="">
            <img src="image/logo-7.jpg" alt="">
            <img src="image/logo-8.jpg" alt="">
        </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            var clientBefore = 0;
            var clientAfter = 0;
            var isCheckHover = true;
            var index = document.getElementById("slide-image").clientWidth;
            document.onmousedown = function (e) {
                isCheckHover = false;
                clientBefore = e.clientX;

                // Handle event mouse move then calculate transform or slide
                document.onmousemove = function (e) {
                    if (!isCheckHover) {
                        clientAfter = e.clientX;
                        var slideImage = document.getElementsByClassName("images");
                        let stringTransform = 'translate3d(' + (-index + clientAfter - clientBefore) + 'px, 0, 0)';
                        for (let slide of slideImage) {
                            slide.style.transform = stringTransform;
                        }
                    }
                }
            }
            
            // Handle event mouse up then calculate var index
            document.onmouseup = function (e) {
                clientAfter = e.clientX;
                index += -clientAfter + clientBefore;
                isCheckHover = true;
            }

            var slideImage = document.getElementsByClassName("images");
            var imagesClone = document.querySelector(".images").cloneNode(true);
            var list = document.getElementById("slide-image");
            var firstChild = list.firstChild;

            list.insertBefore(imagesClone, firstChild);
            document.querySelector(".slides").appendChild(document.querySelector(".images").cloneNode(true));
            setInterval(function() {
                if (isCheckHover) {
                    index += 1;
                    let stringTransform = 'translate3d(-' + index + 'px, 0, 0)';
                    for (let slide of slideImage) {
                        slide.style.transform = stringTransform;
                    }
                    if (index >= 2*document.getElementById('slide-image').clientWidth) {
                        index = document.getElementById('slide-image').clientWidth;
                    }
                }
            }, 10);

        });
    </script>
</body>
</html>