.cards {
    .my-profile-card {
        ul {
            li {
                width: 100%;
                float: left;
                display: flex;
                align-items: center;
                padding: 1px 0;

                @include responsive(lg) {
                    width: 50%;
                }

                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }

        .card-body {
            p {
                color: #707070;
            }

            i {
                font-size: 16px;
                margin-right: 10px;
                width: 20px;
                text-align: center;
            }
        }
    }

    .orders-card {
        .card-body {
            p {
                color: #707070;
            }

            i {
                font-size: 16px;
                margin-right: 10px;
                width: 20px;
                text-align: center;
            }
        }
    }
}

.dashboard-page-title {
    font-size: 24px;
    color: #373737;
    line-height: 29px;
}

.form-control {
    height: 48px;
    border-color: #E3E1E1;
    border-radius: 10px;
}

input[type="checkbox"].form-control {
    height: 20px;
    border-color: #E3E1E1;
    border-radius: 10px;
}

form {
    label {
        font-size: fsz(16);
        color: #373737;
        font-weight: 600;
    }
}

.change-email-modal {
    border-radius: 20px;
    padding: 20px;
    font-family: $font-2;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;

    @include responsive(lg) {
        min-width: 400px;
    }

    @include responsive(xl) {}

    .modal-header {
        border: none;
        margin-bottom: 0;

        @include responsive(lg) {
            margin-bottom: 1rem;
        }

        @include responsive(xl) {
            margin-bottom: 2rem;
        }

        .modal-title {
            width: 100%;
            font-size: fsz(20);
        }

        .close {
            background-color: transparent;
            border: 0;
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 35px;
            margin: 0;
            padding: 0;
            color: #707070;
        }
    }

    p {
        font-size: fsz(16);
        color: #373737;
    }

    sup {
        color: red;
        top: 0;
    }

    .form-group {
        .form-control {
            height: 48px;
            border-color: #E3E1E1;
            border-radius: 5px;
        }

        .btn {
            border: 0;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            border-radius: 10px;
            padding: 12px 18px;
        }

        .btn-login {
            background: linear-gradient(79.85deg, #FF9900 2.83%, #FFD733 100%);
            color: $c-white-pure;

            &:hover {
                background: #00235a;
            }
        }

        .btn-login-cancel {
            background: #E8E8E8;
            color: $c-black;

            &:hover {
                background-color: #00235a;
                color: $c-white-pure;
            }
        }
    }

    .error {
        .validation {
            color: #E00707;
            margin-top: 8px;
            display: inline-block;
            width: 100%;
        }

        .form-control {
            border-color: #E00707;
        }
    }

    .success {
        .validation {
            color: green;
            margin-top: 8px;
            display: inline-block;
            width: 100%;
        }

        .form-control {
            border-color: green;
        }
    }
}

input.password {
    background-image: url("../images/icons/Eye.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: auto;
}

.btn-solid-orange {
    padding: 8px 16px;
    border: 2px solid #FF9900;
    border-radius: 10px;
    font-weight: 600;
    font-size: fsz(18);
    text-align: center;
    color: #FF9900 !important;
    background-color: transparent;

    &:hover {
        background-color: #FF9900;
        color: #FFF !important;
    }
}

.btn-solid-blue {
    padding: 8px 16px;
    border: 2px solid #48A4D5;
    border-radius: 10px;
    font-weight: 600;
    font-size: fsz(18);
    text-align: center;
    color: #48A4D5 !important;
    background-color: transparent;

    &:hover {
        background-color: #48A4D5;
        color: #FFF !important;
    }
}

.btn-return {
    padding: 10.5px 49px;
    border: 1px solid #0066B2;
    border-radius: 10px;
}

.cards {
    .notification-card {
        .card-body {
            p {
                color: #707070;
            }

            i {
                font-size: 18px;
                text-align: center;
            }
        }
    }
}

#updateNotificationModal {
    .change-email-modal {
        .modal-header {
            border: none;
            margin-bottom: 0;
            margin-top: 1rem;

            @include responsive(lg) {
                margin-top: 2rem;
            }

            @include responsive(xl) {
                margin-top: 3rem;
            }
        }
    }
}

// select.form-control {
//     // border: none;
//     // border-right: 15px solid transparent !important;
//     // outline: 1px solid #E3E1E1;
//     -webkit-appearance: none;
//     appearance: none;
//     position: relative;

//     &::after {
//         content: "▼";
//         font-size: 1rem;
//         top: 6px;
//         right: 10px;
//         position: absolute;
//     }
// }
.create-new-notification {
    font-size: 16px;
    color: #408CFF;
}

.notification-card {
    tr {
        td {
            @media only screen and (max-width: 991px) {
                display: inline-block;
                width: 100%;
                text-align: center !important;
            }

            &:last-child {
                .btn-solid-orange {
                    @media only screen and (max-width: 991px) {
                        font-size: 12px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

.nav-tabs.nav-tabs-no-border {
    border-bottom: 0;
    margin-bottom: 10px;

    @include responsive(lg) {
        margin-bottom: 30px;
    }

    .nav-link {
        font-size: fsz(18);
    }

    .nav-link.active {
        color: #FF9900;

        &:after {
            background-color: #FF9900;
            height: 4px;
        }
    }
}

.list-company-items {}

.list-company-item {
    &_image {
        margin: 5px 0;

        @include responsive(xl) {
            -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
            max-width: 12.5%;
        }

        img {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px #C5DCEF;
            border-radius: 10px;
        }
    }

    &_content {
        margin: 5px 0;

        @include responsive(xl) {
            -ms-flex: 0 0 67.5%;
            flex: 0 0 67.5%;
            max-width: 67.5%;
        }

        &__name {
            font-size: fsz(16);
            color: #373737
        }

        &__info {
            font-size: fsz(17);
            color: #373737;
        }

        &__salary {
            span {
                font-size: fsz(17);
                color: #F05701;
            }
        }
    }

    &_cta {
        margin: 5px 0;
        text-align: right;

        a {
            &:hover {
                i {
                    color: #F05701;
                }
            }
        }

        i {
            color: #408CFF;
            margin-bottom: 5px;
        }

        @include responsive(xl) {
            -ms-flex: 0 0 19.5%;
            flex: 0 0 19.5%;
            max-width: 19.5%;
        }

        .btn {
            width: 100%;

            @include responsive(lg) {
                width: auto;
            }
        }
    }
}

.my-works {
    .list-company-item {
        margin-bottom: 30px;

        &_image {
            @include responsive(xl) {
                -ms-flex: 0 0 18.5%;
                flex: 0 0 18.5%;
                max-width: 18.5%;
            }
        }

        &_content {
            @include responsive(xl) {
                -ms-flex: 0 0 61.5%;
                flex: 0 0 61.5%;
                max-width: 61.5%;
            }
        }

        &_cta {
            @include responsive(xl) {
                -ms-flex: 0 0 19.5%;
                flex: 0 0 19.5%;
                max-width: 19.5%;
            }

            .btn {
                width: auto;
            }
        }
    }
}

.btn-orange-gradient.btn-orange-gradient-accept {
    background: #656565;
}

.drop-file {
    border: 1px dashed #35799D;
    padding: 40px;
    border-radius: 10px;
    max-width: 765px;
    margin: 0 auto 45px auto;

    p {
        color: #0B4666 !important;
        font-size: fsz(16);

        span {
            font-size: fsz(14);
            color: #707070;
        }
    }
}

.card-my-profile {
    &_info {
        font-size: fsz(16);
        color: #000000 !important;

        span {
            color: #707070;
        }
    }
}

.jobs-wish {
    table {
        tr {
            td {
                color: #707070;
                font-size: fsz(16);
                padding: 8px 0;

                &:last-child {
                    color: #373737;
                }
            }
        }
    }
}

.profile-existed {
    border: 1px dashed #35799D;
    padding: 20px;
    border-radius: 10px;

    &_info {
        padding-left: 17px;
        flex-direction: column;
        padding-top: 10px;
        align-items: normal;

        .btn {
            margin-top: 5px;
        }

        @include responsive(lg) {
            flex-direction: row;
            align-items: center;
            padding-top: 0;
        }

        @include responsive(xl) {
            .btn {
                min-width: 200px;
            }
        }
    }
}

.cards {
    .my-profile-card {
        .my-profile-card_skills {
            li {
                width: 100%;
                align-items: baseline;
                margin-bottom: 15px;
            }
        }

        .my-profile-card_content {
            ul {
                li {
                    font-weight: 500;
                    font-size: fsz(16);
                    color: #408CFF;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.cards .card .card-body.dashboard-user-overall {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.report-fields {
    display: flex;
    justify-content: flex-end;
    align-items: Center;

    select {
        width: auto;
        padding: 5px 20px;
        background: #F5F5F5;
        border-radius: 10px;

        @include responsive(lg) {
            min-width: 230px;
        }
    }
}

.card .card-body.card-contact-buy {
    color: #373737;

    h5 {
        font-size: fsz(20);
        font-weight: 500;
    }

    p {
        font-size: fsz(16);

        color: #373737;
    }
}

.my-profile-card,
.order-card {
    .table {
        .thead-light {
            th {
                background-color: #F0F6FE;
                padding: 22px 15px;
                border: none;
                font-weight: bold;
                font-size: fsz(16);
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px;
                    border-bottom: 1px dashed #E5E5E5;
                    border-top: none;
                    font-size: fsz(16);

                    @include responsive(lg) {
                        padding: 22px 15px;
                    }
                }
            }

        }
    }
}

.cards .card .card-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#createNewModal {

    label {
        font-size: fsz(16);
    }
}

#dragandrophandler {
    border: 1px dashed #E5E5E5;
    width: 100%;
    color: #373737;
    text-align: center;
    vertical-align: middle;
    padding: 32px 16px;
    margin-bottom: 10px;
    font-size: 16px;
    background: #F9F9F9;
    border-radius: 10px;
}

.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: top;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0ba1b5;
    border-radius: 3px;
}

.statusbar {
    border-top: 1px solid #A9CCD1;
    min-height: 25px;
    width: 100%;
    padding: 10px 10px 0px 10px;
    vertical-align: top;
}

.statusbar:nth-child(odd) {
    background: #EBEFF0;
}

.filename {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

.filesize {
    display: inline-block;
    vertical-align: top;
    color: #30693D;
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;
}

.abort {
    background-color: #A8352F;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    cursor: pointer;
    vertical-align: top
}

#dragandrophandler {
    a {
        color: #408CFF;

        &:hover {
            color: #FF9900;
        }
    }
}

.rules-items {
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    padding: 30px;

    .rules-items-status {
        border: 1px solid #B0CFF8;
        background-color: #B0CFF8;
        border-radius: 10px;
        padding: 2.5px 17px;
        color: #373737;
        font-size: 12px;
    }

    &_cta {
        border-radius: 5px;
        background-color: #D9D9D9;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        display: inline-block;

        &:hover {
            background-color: #00235A;
            color: #fff;
        }

        i {
            width: auto !important;
            margin: 0 !important;
        }
    }
}

.filter-form {
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }

    .btn-solid-orange,
    .btn-solid-blue {
        @media only screen and (max-width: 991px) {
            height: 44px;
            width: 100%;
        }
    }

    .btn-orange-gradient {
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }

    form {
        @media only screen and (max-width: 991px) {
            flex-direction: column;
            width: 200%;
            padding-right: 20px;
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
            padding-right: 0;
        }
    }

    label {
        padding-right: 10px;

        @media only screen and (max-width: 991px) {
            width: 20%;
        }

        @media only screen and (max-width: 479px) {
            width: 100%;
        }
    }

    .form-inline .form-group {
        @media only screen and (max-width: 991px) {
            flex-direction: row;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .form-inline {
        .form-control {
            height: 47px;
            margin-right: 20px;

            @media only screen and (max-width: 991px) {
                width: 100%;
                margin-right: 0;
            }

            // @media only screen and (max-width: 767px) {
            //     width: 80%;
            //     margin-right: 0;
            // }

            @media only screen and (max-width: 479px) {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .has-sidebar#no-more-tables table tbody tr td:first-child {
        background-color: #f7f7f7;
    }

    .has-sidebar#no-more-tables table,
    .has-sidebar#no-more-tables thead,
    .has-sidebar#no-more-tables tbody,
    .has-sidebar#no-more-tables th,
    .has-sidebar#no-more-tables td,
    .has-sidebar#no-more-tables tr {
        display: block;
    }

    .has-sidebar#no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .has-sidebar#no-more-tables td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .has-sidebar#no-more-tables td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .has-sidebar#no-more-tables td:before {
        content: attr(data-title);
        color: #333;
    }

}

@media only screen and (max-width: 767px) {
    #no-more-tables table tbody tr td:first-child {
        background-color: #f7f7f7;
    }

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {}

    #no-more-tables td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #no-more-tables td:before {
        content: attr(data-title);
        color: #333;
    }

}


.packages-items {
    margin-bottom: 30px;

    &_item {
        display: flex;
        flex-direction: column;
        padding: 32px;
        background: #FFFFFF;
        border-radius: 20px;

        &__name {
            font-size: fsz(18);
            color: #373737;
        }

        &__price {
            font-size: fsz(30);
            color: #FF9900;
            font-weight: bold;
            margin-bottom: 2px;

            ins {
                text-decoration: none;
            }
        }

        &__sale {
            font-size: fsz(16);
            color: #373737;
        }

        i {
            color: #408CFF;
        }

        .btn {
            width: 100%;
        }
    }
}

.container-packages {
    max-width: 1100px;
}

.btn-no-action {
    padding: 11px 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(70, 79, 96, 0.16);
    border-radius: 6px;
    margin-right: 20px;
}

.quick-post-status {
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;

    &_pending {
        color: #4F5AED;
        background: #F0F1FA;
    }

    &_success {
        background-color: #E1FCEF;
        color: #14804A;
    }

    &_cancel {
        background-color: #E9EDF5;
        color: #5A6376;
    }

    &_expired {
        background-color: #FAF0F3;
        color: #D12953;
    }
}

#quick-posts-posted {
    .max-salary {
        font-size: 14px;
        color: #D12953;
    }

    .min-salary {
        font-size: 12px;
        color: #687182;
    }
}

.text-gradient {
    font-weight: 600;
    font-size: fsz(20);
    text-align: center;
    background: linear-gradient(79.85deg, #0355AB 2.83%, #56CCF2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
}

.table-bill {
    &_package-name {
        font-size: 14px;
        font-weight: 600 !important;
        color: #132639;
    }

    &_package-promotion {
        font-size: 12px;
    }
}

.table-bill {
    &_delete {
        color: #132639;
    }
}

table.table-bill {
    border-radius: 10px;
    border: 1px solid #6F8295;
    border-spacing: 0;
    border-collapse: separate;

    tr {
        th {
            background: #737373;
            font-weight: bold;
            color: $c-white-pure;
            padding: 25px 20px;
            border-bottom: none;
            vertical-align: baseline;

            &:first-child {
                border-radius: 10px 0 0 0;
            }

            &:last-child {
                border-radius: 0 10px 0 0;
            }
        }

        td {
            border-bottom: 1px solid #D4D4D4 !important;
            font-weight: 500;
        }

        td.order-price {
            font-weight: bold;
            font-size: fsz(20);
            color: #FF9900;

            span {
                font-size: 12px;
                color: #434F5B;
                font-weight: normal;
            }
        }
    }

    select.form-control {
        border-radius: 3px;
        height: 32px;
        border-color: #E4E4E4;
    }
}

.container-bill {
    max-width: 1260px;
}

table.table-bill-total {
    width: 100%;
    border: none;
    float: right;

    @include responsive(md) {
        width: 50%;
    }

    @include responsive(xxl) {
        width: 40%;
    }

    tr {
        th {
            background-color: #6F8295;
            font-weight: bold;
            color: $c-white-pure;
            padding: 5px;
            border-bottom: none;
        }

        td {
            padding: 10px 15px !important;
            border-bottom: none !important;

            &:first-child {
                color: #132639;
                font-weight: 600;
            }

            &:last-child {
                color: #FF9900;
                font-weight: bold;
                font-size: fsz(16);
            }
        }

        &:last-child {
            td {
                &:last-child {
                    font-size: fsz(20);
                }
            }
        }
    }
}

table.checkout-bill-total {
    width: 100%;
    border: none;

    tbody {
        tr {
            th {
                background-color: #6F8295;
                font-weight: bold;
                color: $c-white-pure;
                padding: 5px;
                border-bottom: none;
            }

            td {
                padding: 12px 15px !important;
                border-bottom: none !important;

                &:first-child {
                    color: #132639;
                    font-weight: 600;
                }

                &:last-child {
                    color: #FF9900;
                    font-weight: bold;
                    font-size: fsz(16);
                }
            }
        }
    }

    tfoot {
        background: #D9D9D9;

        tr {
            text-decoration: none;

            // &:before {
            //     content: "";
            //     background: #d9d9d9;
            //     width: 100%;
            //     height: 50px;
            //     position: absolute;
            //     right: calc(100% - 30px);
            // }

            // &:after {
            //     content: "";
            //     background: #d9d9d9;
            //     width: 100%;
            //     height: 50px;
            //     position: absolute;
            //     left: calc(100% - 30px);
            // }

            td {
                color: #132639;
                font-weight: bold;
                font-size: fsz(16);
                padding: 17px !important;
                border: none !important;

                &:last-child {
                    color: #FF9900;
                }
            }
        }
    }
}

table.checkout-bill-extra {
    width: 100%;
    border: none;

    tbody {
        tr {
            th {
                background-color: #6F8295;
                font-weight: bold;
                color: $c-white-pure;
                padding: 5px;
                border-bottom: none;
            }

            td {
                padding: 10px 0 !important;
                border-bottom: none !important;
                font-weight: bold;
                font-size: fsz(16);

                &:first-child {
                    color: #132639;
                    font-size: fsz(14);
                }

                &:last-child {
                    color: #FF9900;
                }
            }
        }
    }
}

.table.table-order-info {
    tbody {
        tr {
            td {
                padding: 10px 0;
                border-bottom: none;
            }
        }
    }

}

.kt-footer.kt-footer-style3 {
    background: #F3F6FD;
    padding-top: 0;

    .kt-footer-copyright {
        p {
            color: #434F5B;
        }
    }
}

.kt-footer.kt-footer-style4 {
    padding-top: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    .kt-footer-copyright {
        font-weight: 600;
        font-size: fsz(14);

        a {
            color: #0066B2;
        }

        p {
            color: #132639;
        }
    }

    .btn-return {
        min-width: 170px;
        padding: 12.5px 24px;
    }

    .btn-orange-gradient {
        border-radius: 10px;
        min-width: 170px;
        padding: 12px 24px;
    }
}

.container-checkout {
    max-width: 1200px;
}

table.table-coupons {
    border-radius: 10px;
    border: 1px solid #6F8295;
    border-spacing: 0;
    border-collapse: separate;

    thead {
        tr {
            th {
                background-color: #6F8295;
                font-size: fsz(20);
                font-weight: bold;
                color: $c-white-pure;
                padding: 25px 20px;
                border-bottom: none;
                border-radius: 10px 10px 0 0;
            }

            td {
                border-bottom: 1px solid #D4D4D4 !important;
                font-weight: 500;
            }

            td.order-price {
                font-weight: bold;
                font-size: fsz(20);
                color: #FF9900;
            }
        }
    }

    tbody {
        tr {
            td {
                color: #132639;
                font-weight: 600;
                border-bottom: 1px solid #E5E5E5 !important;
            }
        }
    }

    input[type=radio] {
        opacity: 0;
        position: absolute;
        z-index: 1000;
        width: 30px;
        height: 30px;
    }

    input[type=radio]+label {
        display: block;
    }

    input[type='radio']+label:before {
        display: inline-block;
        font-family: "Font Awesome 6 Pro";
        font-weight: 300;
        font-style: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding-right: 8px;
        width: 38px;
        font-size: 30px;
        vertical-align: middle;
    }

    input[type='radio']+label:before {
        content: "\f111";
        /* Radio Unchecked */
    }

    input[type='radio']:checked+label:before {
        content: "\f058";
        /* Radio Checked */
        color: #0066B2;
    }

    .radio label {
        padding-left: 0;
    }
}

.payment-methods {
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 20px;
}

.btn-checkout {
    background: #6F8295;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: 600;
    font-size: fsz(16);
    color: #FFFFFF;
}

.cards .card {
    .card-body.quiz-description {
        font-size: fsz(16);

        p {
            font-weight: 600;

            span {
                color: #408CFF;
            }
        }

        .btn-orange-gradient {
            border-radius: 10px;
            padding: 10px 40px;
        }
    }
}

.main-quiz-start {
    height: 100vh;

    main.main {
        min-height: 75%;
    }
}

.quiz-sub-category-title {
    font-size: fsz(16);
    color: black;
    font-weight: normal;
    margin-bottom: 20px;
}

.cards .my-profile-card {
    .quiz-pagination {
        ul {
            gap: 5px;

            li.current-quiz {
                border-color: #408CFF;
                color: #408CFF;

                a {
                    color: #408CFF;
                }
            }

            li {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: fsz(20);
                font-weight: 600;
                display: inline-block;
                border: 1px solid #E8E8E8;
                border-radius: 50%;

                a {
                    color: black;

                    &:hover {
                        color: #408CFF;
                    }
                }

                &:nth-child(2n+1) {
                    clear: none;
                }
            }
        }
    }

    .btn-prev-quiz {
        padding: 8px 16px 8px 14px;
        height: 50px;
        background: #E8E8E8;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #0D1E27 !important;
        font-weight: 600;

        &:hover {
            background-color: #FF9900;
            color: $c-white-pure !important;
        }

    }

    .btn-next-quiz {
        padding: 8px 16px 8px 14px;
        height: 50px;
        background: #E8E8E8;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #0D1E27 !important;
        font-weight: 600;

        &:hover {
            background-color: #FF9900;
            color: $c-white-pure !important;
        }

        i {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .quiz-btns {
        gap: 20px;

        .btn {
            border-radius: 10px;
            line-height: 28px;

            @include responsive(xl) {
                min-width: 160px;
            }
        }
    }
}

.cards .card .card-body.quiz-content {
    table {
        tr {
            th {
                p {
                    margin: 0;
                }
            }
        }
    }

    .table-info-left {
        tr {
            td {
                padding: 5px 0;
                font-size: fsz(16);
            }
        }
    }

    .table-info-right {
        tr {
            td {
                padding: 5px 0;
                font-size: fsz(16);
            }
        }
    }

    p {
        margin-bottom: 10px;
        font-size: fsz(16);
        color: #656565;

        strong {
            font-size: fsz(20);
        }
    }

    .quiz-result-header {
        font-weight: 600;
        text-transform: uppercase;

        p {
            font-weight: 600;
            font-size: fsz(24) !important;
            color: black !important;
        }
    }

    .quiz-result {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 45px;
        gap: 10px;
        background: #C5DCEF;
        border-radius: 10px;
        min-width: 680px;
        max-width: 680px;
        margin: 45px auto;

        p {
            font-size: fsz(16);
            font-weight: normal;
            color: #000;
            margin-bottom: 0;
            width: 100%;
        }
    }

    .quiz {
        border-radius: 10px;
        padding: 10px;
        position: relative;
    }

    .success {
        background-color: #C1EDCD;

        &:after {
            content: "\f058";
            font-weight: 400;
            font-family: "Font Awesome 6 Pro";
            color: #35B115;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            z-index: 100;
        }
    }

    .wrong {
        background-color: #FFCCCC;

        &:after {
            content: "\f057";
            font-weight: 400;
            font-family: "Font Awesome 6 Pro";
            color: #E00707;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            z-index: 100;
        }
    }
}

.cards .card .card-body {
    .quiz-time-question {
        font-size: fsz(16);
        font-weight: 600;
    }

    .quiz-time {
        font-size: fsz(16);

        span {
            color: #408CFF;
        }
    }
}


.quiz-title {
    font-weight: 600;
    font-size: fsz(36);
}

.btn-orange-gradient2 {
    background: linear-gradient(79.85deg, #FF9900 2.83%, #FFD733 100%);
    border-radius: 10px;
    font-size: 1.1428571429rem;
    color: #fff !important;
    padding: 14px 16px;
    display: inline-block;
    border: none;
    font-weight: 600;

    &:hover {
        background: #FF9900;
    }
}

.dashboard-info {
    &_img {
        position: relative;

        span {
            display: inline-block;
            position: relative;
        }
    }

    &_edit-img {
        position: absolute;
        right: 0;
        bottom: 20px;
        z-index: 100;
        background: #cccccc;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        border-radius: 50%;

        &:hover {
            color: $c-white-pure;
        }
    }
}