<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-scss.scss">
</head>
<body>
    <div class="slides" onmousemove="(e) =>console.log('mouse location: ')">
        <div class="images">
            <img src="image/logo-1.jpg" alt="">
            <img src="image/logo-2.jpg" alt="">
            <img src="image/logo-3.jpg" alt="">
            <img src="image/logo-4.jpg" alt="">
            <img src="image/logo-5.jpg" alt="">
        </div>
    </div>
    <!-- <div class="slides1">
        <div class="images1">
            <img src="image/logo-1.jpg" alt="">
            <img src="image/logo-2.jpg" alt="">
            <img src="image/logo-3.jpg" alt="">
            <img src="image/logo-4.jpg" alt="">
            <img src="image/logo-5.jpg" alt="">
        </div>
    </div>
    <div class="slides2">
        <div class="images2">
            <img src="image/logo-1.jpg" alt="">
            <img src="image/logo-2.jpg" alt="">
            <img src="image/logo-3.jpg" alt="">
            <img src="image/logo-4.jpg" alt="">
            <img src="image/logo-5.jpg" alt="">
        </div>
    </div> -->
    <script>
        var slideCopy = document.querySelector(".images").cloneNode(true);
        document.querySelector(".slides").appendChild(slideCopy);
        // var slideCopy1 = document.querySelector(".images1").cloneNode(true);
        // document.querySelector(".slides1").appendChild(slideCopy1);
        // var slideCopy2 = document.querySelector(".images2").cloneNode(true);
        // document.querySelector(".slides2").appendChild(slideCopy2);
        function checkMouse(e) {
            console.log('ádasd');
            console.log(e);
        }
    </script>
</body>
</html>