* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F5F5F7;
}

img {
	height: 200px;
}
.slides, .slides1, .slides2 {
	overflow: hidden;
	padding: 60px 0;
	display: flex;
	position: relative;
}

.images {
	display: flex;
	/* animation: 60s slide infinite linear; */
}

/* .images2 {
	display: flex;
	animation: 60s slide infinite linear;
}

.images1 {
	display: flex;
	animation: 45s slide infinite linear;
} */
/* .images1 img,
.images2 img, */
.images img {
	margin: 0 10px;
	border-radius: 12px;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
